.vscode/
*.log
commands.txt
*.edu
nohup.out
xrt.run_summary
common/
package.*/
.Xil/
_x/
.run/
.ipcache/
*.ten/
*.bad/

*/logs/
*/reports/
*/kernel/
*/link/
host_xrt_tmp
mledcpp/
build_test/dual_mode_hw_emu.xclbin
build_test/tcp_checksum_hw_emu_crc16cu.xclbin
